<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="footer.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Home</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div id="wrapper1">
                <div id="content">
                    <nav class="navbar navbar-expand-lg nav_top ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/" id="logo">
                                <img href="main.ejs" src="https://breadsbangalore.org/wp-content/themes/Breads_/images/logo-wide.png"
                                    alt="" max-width="400" max-height="70" class="d-inline-block align-text-top">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#about_rr">About Us</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" target="_blank"
                                            href="https://breadsbangalore.org/contact">Contact Us</a>
                                    </li>


                                </ul>
                                <div class="d-flex">
                                    <!-- <span class="nav-item" id="login">
                                        <a class="nav-link active me-2" aria-current="page" href="#">Login</a>
                                    </span> -->
                                </div>


                            </div>
                        </div>
                    </nav>

                    <section class="container">
                        <h1 id="advantages">
                            <center> THANK YOU FOR TAKING OUR SURVEY! </center>
                        </h1>
                        <ul id="points">
                            <center>Remember you are not alone, you can always reach out to us in case you need to talk
                                to someone.</center>
                            <center>You deserve to get better, you deserve a second chance.</center>
                            <center><b><u><span id="colour" style="color: #620d0d;">Substance abuse is wrong, but
                                            seeking help is not
                                        </span></u></b></center>
                            <center>We have received<b style="color: #620d0d;">
                                    <%=total%>
                                </b>responses.
                            </center>
                            <center><b>Contact Us: </b></center>
                            <center>Telephone: +91-80-25463476; 25805551 </center>
                            <center> Email: info@breadsbangalore.org </center>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
</body>
<footer id=" footer" class="footer-section">
    <div class="footer-content">
        <p> &ensp;&ensp;&ensp;&ensp;&ensp;</p>
        <img src="https://breadsbangalore.org/wp-content/themes/Breads_/images/logo-wide.png" alt="" max-width="400"
            max-height="70">
        <!-- <h1>BREADS BANGALORE</h1> -->
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, placeat consectetur? Quas quo possimus
                eius.</p> -->
        <div class="socials">
            <a href="https://www.facebook.com/breadsbangalore.org/" class="fa fa-facebook"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://www.youtube.com/channel/UC5mMJjSpsrdIMEInAk7dfHw" class="fa fa-youtube"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://twitter.com/donboscobreads" class="fa fa-twitter"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://in.linkedin.com/in/breads-bangalore-a45543aa" class="fa fa-linkedin"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
        </div>
    </div>
</footer>

<style>
    /* cousel- */
    .section-borders span {
        height: 5px;
        background: #620d0d;
        width: 40px;
        display: inline-block;
        border-radius: 2px;
    }

    .section-borders span.black-border {
        background: #333;
        width: 30px;
        margin: 0 6px;

    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    body {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        line-height: 1.67;
        color: #444;
        padding: 60px 0;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        display: inline-block;
        position: relative;
    }

    .section-title:after,
    .section-title:before {
        content: "";
        position: absolute;
        bottom: 0;
    }

    .section-title:after {
        height: 2px;
        background-color: #620d0d;
        left: 25%;
        right: 25%;
    }

    .section-title:before {
        width: 15px;
        height: 15px;
        border: 3px solid #fff;
        background-color: #620d0d;
        left: 50%;
        transform: translatex(-50%);
        bottom: -6px;
        z-index: 9;
        border-radius: 50%;
    }


    html,
    body {
        margin: 0px;
        padding: 0px;
        min-height: 100%;
        height: 100%;
    }

    #wrapper1 {

        min-height: 100%;
        height: auto !important;
        margin-bottom: -50px;
        /* the bottom margin is the negative value of the footer's total height */
    }

    #wrapper1:after {
        content: "";
        display: block;
        height: 30px;
        /* the footer's total height */
    }

    #content {
        height: 100%;
    }

    .navbar {
        font-family: 'Open Sans', sans-serif;
        font-size: medium;
    }

    .navbar .navbar-brand img {
        height: 50px;
    }

    .nav_top {
        background-color: rgba(165, 42, 42, 0.347);
        ;
    }

    h1,
    #advantages,
    #survey {
        margin-top: 50px;
        color: #620d0d;
        font-weight: 1000;

    }

    #points {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
    }


    /* footer start */
    footer {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;
        color: #ffffff;
        background-color: rgba(165, 42, 42, 0.347);
        position: absolute;
        width: 100%;
    }

    .footer-content {
        margin-right: 1.25em;
        margin-bottom: 2em;
    }

    .footer-content h1 {
        font-size: 1rem;
        margin-top: -1rem;
        padding-top: 2rem;

    }

    .footer-content img {
        width: 20em;
        height: 5em;
        border-radius: 50%;
        padding-left: 3em;
        padding-bottom: 1em;
    }

    .footer-content p {
        padding: 0% 15%;
        color: #ffffff;
    }

    .socials a {
        width: 50px;
        height: 40px;
        color: #e7f2f4;
        display: inline-block;
        text-decoration: none;
        padding: 10px 12px;
        font-size: 20px;
    }

    /* footer end */

    /* inital button start*/
    .ibutton:hover {
        background-color: rgba(165, 42, 42, 0.347);
        color: white;
    }


    .ibutton {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        background-color: rgba(165, 42, 42, 0.347);
        line-height: -100%;
        box-shadow: 4px 4px 4px 4px rgba(165, 42, 42, 0.347);

    }

    @media screen and (max-width: 700px) {
        #alertt {
            margin-top: 3em;
            margin-left: 3em;
        }
    }

    #h1_alert {
        color: white
    }

    .hidden {
        display: none;
    }

    .container {
        padding-bottom: 7.5rem;
    }
</style>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>


</html>