<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <nav class="navbar navbar-expand-lg nav_top ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" id="logo">
                        <img src="https://breadsbangalore.org/wp-content/themes/Breads_/images/logo-wide.png" alt=""
                            max-width="400" max-height="70" class="d-inline-block align-text-top">
                    </a>
                    <button id="navbar-button-1" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="nav-1" class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" target="_blank"
                                    href="https://breadsbangalore.org/">About
                                    Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" target="_blank"
                                    href="https://breadsbangalore.org/contact">Contact Us</a>
                            </li>


                        </ul>
                        <div id="nav-1" class="d-flex">
                            <span class="nav-item login_border" id="login">
                                <a class="nav-link active me-2" aria-current="page" href="#">Login</a>
                            </span>
                        </div>


                    </div>
                </div>
            </nav>


            <div id="alertt" class="hidden">
                <h1 id="h1_alert">Alert! Only Admin</h1>
                <form id="form" action="/" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputUsername" class="form-label">Enter Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername" name="username">
                        <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <input type="submit" id="okbtn" class="btn btn-light ok" value="OK" class="btn" />
                    <!-- <input type="submit" class="btn btn-success" id="submitBtn" value="Submit"> -->
                </form>

            </div>

            <h1 class="kreep" id="kreep">
                <button class="ibutton ibutton5" id="ibutton"><b>Take a <br>Survey</b></button>
            </h1>



            <div id="about_rr" class="container">

                <h1 class="text-center container" id="about_h1">WHAT IS ADDICTION?</h1>

                <h2 class="text-center col-md-12"> Addiction is an inability to stop using a substance or engaging in a
                    behavior even though it may cause psychological or physical harm.</h2>
                <h1 class="text-center container" id="about_h1">AM I ADDICTED? </h1>
                <h2 class="text-center"> Determining when substance abuse has become an addiction can be complicated
                </h2>

                <div class="survey">
                    <a href="/survey">
                        <button class="survey-btn">Take Survey</button>
                    </a>
                </div>


            </div>

            <div class="container my-5 py-2">
                <h1 class="text-center font-weight-bold my-5">WHY TO TAKE A SURVEY</h1>
                <div class="row">
                    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
                        class="col-md-4 text-center">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81pqekdwWmpAt-eHsabSVjrJHFoVQlgqaCnwc-Y3uSgw6pJHsKB_Jr--97glBRBkFBCyYRoN7vpJuwLt9yavdRzU1hiEAg=s2560"
                            id="why-img" class="mx-auto">
                        <h4>Help yourself</h4>
                        <p>Identify any of the behaviors, habits or thoughts that have a negative
                            impact on your life.</p>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
                        class="col-md-4 text-center">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81r8ksLeC6IfpGYTIojwt2LsL8mnCfFi-JDx6G67qAMbq0e8H5I4IqKR6igGQIlFK7wRuPY-F43n1tqy7TrQ7yDrvyt0iQ=s2560"
                            id="why-img" class="mx-auto">
                        <h4>Support</h4>
                        <p>You always have a connection with someone who truly cares about helping you and
                            you are not alone in this journey.</p>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true"
                        class="col-md-4 text-center">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oL0tU4HYA1rLLahtYtiLrJQWvDuGY6uVjkQVumA9PmgKouUM0tFZYXQ3Loua-Z55IsmaRT7ZofMmrRjZHSmZv9mbAV=s2560"
                            id="why-img" class="mx-auto">
                        <h4>Repairing relationships</h4>
                        <p>You can get advice on creating new and
                            healthy relationships, which is an essential part of a successful recovery</p>
                    </div>
                </div>
            </div>

            <div class="advisor_section">
                <div class="container">
                    <h1 class="what_text text-center">STATISTICS</h1>
                </div>
            </div>
            <div class="advisor_section_2 layout_padding">
                <div class="container">
                    <div class="box_section">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main">
                                    <div class="image_3"></div>
                                    <h4 class="consultative_text text-center">Phone/screen addiction</h4>
                                    <h4 class="consultative_text text-center"> 20% boys and 14% girls.</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main active">
                                    <div class="image_4 active"></div>
                                    <h4 class="consultative_text active text-center">Behavioural issues</h4>
                                    <h4 class="consultative_text active text-center">21%</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main">
                                    <div class="image_5"></div>
                                    <h4 class="consultative_text text-center">Drug</h4>
                                    <h4 class="consultative_text text-center">19%</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>

            <div class="advisor_section_2 layout_padding">
                <div class="container">
                    <div class="box_section">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main">
                                    <div class="image_3"></div>
                                    <h4 class="consultative_text text-center">Relationship issues</h4>
                                    <h4 class="consultative_text text-center"> 15%.</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main active">
                                    <div class="image_4 active"></div>
                                    <h4 class="consultative_text active text-center">Smoking</h4>
                                    <h4 class="consultative_text active text-center">9.5%</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="box_main">
                                    <div class="image_5"></div>
                                    <h4 class="consultative_text text-center">Alcohol</h4>
                                    <h4 class="consultative_text text-center">2%</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- advantages section start -->








            <!-- advantages section end -->

            <!-- <section class="container">
                <h1 id="advantages">WHY TO TAKE A SURVEY</h1>
                <ul id="points">

                    <li><b>Help yourself: </b> Identify any of the behaviors, habits or thoughts that have a
                        negative
                        impact on your life.</li>
                    <li><b>Support:</b> You always have a connection with someone who truly cares about helping you
                        and
                        you are not alone in this journey.
                    </li>
                    <li><b>Strengthening and repairing relationships: </b> You can get advice on creating new and
                        healthy relationships, which is an essential part of a successful recovery.</li>
                </ul>
            </section> -->


            <!-- <div id="about_rr" class="container">

                <h1 class="container" id="about_h1">ABOUT US</h1>

                <h3>BREADS - Bangalore Rural Educational and Development Society is the
                    Development Organization of the Salesian Province of Bangalore. We assist and
                    promote
                    the
                    development
                    activities of NGOs, particularly the Don Bosco partners in Karnataka and Kerala.
                    Children,
                    young
                    people
                    and women have been the main target group of all our projects and programmes, as we
                    believe
                    that
                    they
                    are the most vulnerable and subject to abuse, neglect and exploitation.</h3>
                <div id="about">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81ocPLgI5D3d-Lp8vr5vagpTiWB7QjTfZp_qcEzj0Y23XqXIyPLN5r6rwHrr224l4NF-y-4AvsQIQHbN80cwqpFbMYW6xw=s2560"
                        id="about_img">
                </div>

            </div> -->

            <!-- 
            <section class="container">
                <h3 id="advantages">ADVANTAGES OF ADDICTION RECOVERY</h3>
                <ul>
                    <li>Increased energy and alertness.</li>
                    <li>Improved sleep routine and insomnia.</li>
                    <li>Increased time to do the things you love.</li>
                    <li>Better health.</li>
                    <li>Enhanced immune system.</li>
                    <li>Rediscover yourself.</li>
                </ul>
            </section> -->

            <div class="client_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 justify-content-center">
                            <h3 class="text-center" id="advantages">ADVANTAGES OF ADDICTION RECOVERY</h3>

                        </div>

                    </div>
                    <div class="client_section_2">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oackWEDaFMh8ly9550r-td-JhnGMmEmXUvQSwcva_uVq2ozWPnwg2T6aFcM0bL98wimdcnPJCtrqAht1aozctk0Nd2=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Increased energy and alertness.</h3>
                                    </div>
                                </div>

                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oxoZmOEE3iScE6yBr7CNqFOSw2WTz-_Rsr3UAUNx4z-6B-bYl6Q6LzWvXZ5Sr3PaCwBUKwAQBbSBTvw4WFXsg1CUlL=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Improved sleep routine and insomnia.</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oc2cWRdJKpm4MjIzEs_3ZklHGPUXSLosh8ybiz9_Bjrb3HaHZYNwHfP7bLdYOVTOd_pQ-cqSA6ea4SwRPdxmQJcuDRQw=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Increased time to do the things you love.</h3>
                                    </div>
                                </div>




                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oXT5jVJEi9QNoFoC-ddb8s9MI_mkvbLl-mgNEcJZAAbiJsO2fMX98eynoBbMvsJWOp5SksJT5wxIyQGQmzh-CygNdihQ=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Better health.</h3>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81pjtmkd2czZ0rS46nG1isFGdZ7NHUxyiHMkruMRAmDp4da4Hky4Lbhv5q6bG_FCEvOyuwZr9evJei75cyiOXEYlVItY2w=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Enhanced immune system.</h3>
                                    </div>
                                </div>

                                <div class="client_taital_main">
                                    <div class="client_left">
                                        <div class="client_img"><img
                                                src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81rpIego8nCt-GJjr7ODoUt05Gg4ZLQE0PJmyFXq7uHEB0BPSdoIq6k25M7mOspkjXB4NbJXrXT2GlEIzcDqfYRs-ytT=s2560">
                                        </div>
                                    </div>
                                    <div class="client_right">
                                        <h3>Rediscover yourself.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <section>
                <div class="customer-feedback">
                    <div class="container text-center">
                        <div class="row">
                            <div class="section-title">
                                <h2 styles="color:#620d0d">SUCCESS STORIES</h2>

                                <div class="section-borders">
                                </div>
                                <div class="section-borders">
                                    <span></span>
                                    <span class="black-border"></span>
                                    <span></span>
                                </div>
                                <div class="container">
                                    <div class="row" style="display:flex;align-items: center;">
                                        <div class="col-md-6 offset-md-3 offset-sm-2 col-sm-8">
                                            <div class="owl-carousel feedback-slider">

                                                <!-- slider item -->
                                                <div class="feedback-slider-item">
                                                    <h3 class="customer-name">Shiven</h3>
                                                    <img class="slide"
                                                        src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81pPb68mBNmYtwu0zR9JXNadjeh6C_8plVziJINpL8f7ruZL73zALo0li1M64re27I8BXPIFBcACajQXRBzeaqiQCKGh=s2560"
                                                        alt="">
                                                    <p>I have been happy, sober, and productive for 1,534 or four
                                                        years
                                                        and 73 days, now. My name is Shiven (23) and my recovery
                                                        journey
                                                        started when I was just turning 19. Up until that point my
                                                        choice of addictions included marijuana, alcohol,
                                                        pornography,
                                                        as well as suicidal and self-harm tendencies. It has not
                                                        been an
                                                        easy journey but one that I can now look back on and proudly
                                                        say
                                                        — I survived.
                                                    </p>
                                                    <a href="https://www.thebetterindia.com/247462/addiction-shiven-marijuana-pills-depression-suicide-self-harm-relationship-counsellor-help-de-addiction-center-vid01/
                                                    " style="color:rgba(0, 0, 255, 0.666)">Read More...</a>

                                                </div>
                                                <!-- /slider item -->

                                                <!-- slider item -->
                                                <div class="feedback-slider-item">

                                                    <h3 class="customer-name">Samriddhi</h3>
                                                    <img class="slide"
                                                        src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81povI33UFXbrmRm4_ZQvxoWh9TkWg_fGb8_GEwJcUaNj0Mve-v-Fipr_KSfdpFGUudNgsdR9ERxI_cvFrVHfspQ8_w7aA=s2560"
                                                        alt="">
                                                    <p>Samriddhi Bharghav, a 22 year old young Indian is far from
                                                        the
                                                        typical average Indian society makes of you. She has battled
                                                        drug abuse and survived suicide and this is her journey of
                                                        blooming out of the cocoon she once thought she was trapped
                                                        in
                                                        forever.
                                                    </p>
                                                    <a href="https://www.wetheyoung.in/struggling-to-get-over-drug-addiction-this-story-is-just-for-you/
                                                    " style="color:rgba(0, 0, 255, 0.666)">Read More...</a>

                                                </div>
                                                <!-- /slider item -->

                                                <!-- slider item -->
                                                <div class="feedback-slider-item">

                                                    <h3 class="customer-name">Siddharth</h3>
                                                    <img class="slide"
                                                        src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81o6QcKBAeZeijbLCLCGr7jmRhrvJApMDdgP6w1PdSc2FiQRIZUxy5ObCB_cDRaWrac91PPt_U8ZpQ1feT-LqEVCOI_Img=s2560"
                                                        alt="">
                                                    <p>“What’s it like being sober? I’ve been sober for 13 and a
                                                        half
                                                        years and I can say it’s the reason I’m happy today. It’s
                                                        the
                                                        reason I’m grateful today. For my family who has loved me
                                                        through my best and my worst and in fact loved me harder
                                                        when I
                                                        was so difficult to love. For the hundreds of second chances
                                                        I
                                                        got,” he shares.

                                                    </p>
                                                    <a href="https://homegrown.co.in/homegrown-explore/musician-siddharth-basrur-opens-up-about-his-battle-with-addiction"
                                                        style="color:rgba(0, 0, 255, 0.666)">Read More...</a>

                                                </div>
                                                <!-- /slider item -->



                                            </div><!-- /End feedback-slider -->



                                        </div><!-- /End col -->
                                    </div><!-- /End row -->
                                </div>
                            </div><!-- /End container -->
                        </div><!-- /End customer-feedback -->
            </section>





        </div>
    </div>

    <%- include('partials/footer') %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="script.js"></script>
</body>


</html>
