<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multilingual Word Meaning</title>
  <link rel="stylesheet" href="Meaning.css">
</head>
<body>
  <p id="text">caffeine alcohol nicotine tobacco cannabis hallucinogens sedatives dependency reliance compelled indulge</p>
  <div id="floating-box" class="hidden">
    <p id="meaning"></p>
  </div>
  <script src="Meaning.js"></script>
</body>
</html>
